<style>
  .text-ellipsis {
    max-width: 150px; /* Giới hạn chiều rộng của ô */
    white-space: nowrap; /* Ngăn nội dung xuống dòng */
    overflow: hidden; /* Ẩn nội dung tràn */
    text-overflow: ellipsis; /* Hiển thị dấu "..." */
  }
</style>
    <!-- Content Header (Page header) -->
    <section class="content-header">
      <div class="container-fluid">
        <div class="row mb-2">
          <div class="col-sm-6">
            <h1>User List</h1>
          </div>
          <div class="col-sm-6">
            <ol class="breadcrumb float-sm-right">
              <li class="breadcrumb-item"><a href="#">Home</a></li>
              <li class="breadcrumb-item active">User List</li>
            </ol>
          </div>
        </div>
      </div>
      <!-- /.container-fluid -->
    </section>
    <section class="content">
      <div class="container-fluid">
        <div class="row">
          <div class="col-12">
            <!-- /.card -->
            <div class="card">
              <div class="card-header">
                <h3 class="card-title">DataTable with default features</h3>

              </div>
              <!-- /.card-header -->
              <div class="card-body">
                <table id="example1" class="table table-bordered table-hover">
                  <thead>
                    <tr>
                      <th>ID</th>
                      <th>Tiêu Đề</th>
                      <th>Slug</th>
                      <th>Link gốc bài viết</th>
                      <th>Danh mục bài viết</th>
                      <th>Ảnh đại diện</th>
                      <th>Tác giả </th>
                      <th>Ngày tạo</th>
                      <th>Ngày thay đổi</th>
                      <th>Trạng thái</th>
                    </tr>
                  </thead>
                  <tbody>

                      <tr>
                        <td class="text-ellipsis  w-15">1</td>
                        <td class="text-ellipsis w-15">Giới thiệu về Vue.js</td>
                        <td class="text-ellipsis  w-15">gioi-thieu-ve-vuejs</td>
                        <td class="text-ellipsis w-15"><a href="https://example.com/vuejs">https://example.com/vuejsccccccccccccccccccccccccccccccccc</a></td>
                        <td class="text-ellipsis  w-15">Công nghệ</td>
                      
                        <td class="text-ellipsis  w-15"><img src="https://example.com/images/vuejs.jpg" alt="Vue.js"></td>
                        <td class="text-ellipsis  w-15">Nguyễn Văn A</td>
                        <td class="text-ellipsis  w-15">2023-01-01</td>
                        <td class="text-ellipsis  w-15">2023-01-02</td>
                        <td class="w-15 ">
                          <div class="dropdown">
                            <a class="btn btn-secondary dropdown-toggle" href="#" role="button" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                              Dropdown link
                            </a>
                          
                            <div class="dropdown-menu" aria-labelledby="dropdownMenuLink">
                              <a class="dropdown-item" href="#">Action</a>
                              <a class="dropdown-item" href="#">Another action</a>
                              <a class="dropdown-item" href="#">Something else here</a>
                            </div>
                          </div>
                        </td>
                      </tr>
                      <tr>
                        <td>2</td>
                        <td>Lập trình Node.js cơ bản</td>
                        <td>lap-trinh-nodejs-co-ban</td>
                        <td><a href="https://example.com/nodejs">https://example.com/nodejs</a></td>
                        <td>Lập trình</td>
                  
                        <td><img src="https://example.com/images/nodejs.jpg" alt="Node.js"></td>
                        <td>Trần Văn B</td>
                        <td>2023-02-05</td>
                        <td>2023-02-06</td>
                        <td>Đã xuất bản</td>
                      </tr>
                      
                  </tbody>
                  <tfoot>

                  </tfoot>
                </table>
              </div>
              <!-- /.card-body -->
            </div>
            <!-- /.card -->
          </div>
          <!-- /.col -->
        </div>
        <!-- /.row -->
      </div>
      <!-- /.container-fluid -->
    </section>
    <!-- /.content -->
  </div>

<%- include('../layouts/partials/script')%>
<script src="../../public/plugins/jquery/jquery.min.js"></script>



<script src="../../public/plugins/bootstrap/js/bootstrap.bundle.min.js"></script>
<script src="../../public/plugins/datatables/jquery.dataTables.min.js"></script>
<script src="../../public/plugins/datatables-bs4/js/dataTables.bootstrap4.min.js"></script>



<script src="../../public/plugins/datatables/jquery.dataTables.min.js"></script>
<script src="../../public/plugins/datatables-bs4/js/dataTables.bootstrap4.min.js"></script>
<script src="../../public/plugins/datatables-responsive/js/responsive.bootstrap4.min.js"></script>
<script src="../../public/plugins/datatables-responsive/js/dataTables.responsive.min.js"></script>
<script src="../../public/plugins/datatables-buttons/js/dataTables.buttons.min.js"></script>
<script src="../../public/plugins/datatables-buttons/js/buttons.bootstrap4.min.js"></script>

<script src="../../public/plugins/jszip/jszip.min.js"></script>
<script src="../../public/plugins/pdfmake/pdfmake.min.js"></script>
<script src="../../public/plugins/pdfmake/vfs_fonts.js"></script>
<script src="../../public/plugins/datatables-buttons/js/buttons.html5.min.js"></script>
<script src="../../public/plugins/datatables-buttons/js/buttons.print.js"></script>
<script src="../../public/plugins/datatables-buttons/js/buttons.colVis.min.js"></script>
s
<!-- AdminLTE App -->
<script src="../../public/dist/js/adminlte.min.js"></script>
<!-- AdminLTE for demo purposes -->
<script src="../../public/dist/js/demo.js"></script>
<script>
  $(function () {
    $("#example1")
    .DataTable({
      responsive: true,
      lengthChange: true, // Để người dùng có thể thay đổi số lượng hàng hiển thị trên mỗi trang
      searching: true, // Để bật tính năng tìm kiếm
      autoWidth: false,
      paging: true, // Bật phân trang
      buttons: ["copy", "csv", "excel", "pdf", "print", "colvis"],
    })
    .buttons()
    .container()
    .appendTo("#example1_wrapper .col-md-6:eq(0)");
  });

</script>
