<form action="">
    <div class="mb-3">
      <label for="" class="form-label">Dish name</label>
      <input type="text" class="form-control" id="" aria-describedby="emailHelp" value="">
    </div>
    <div class="mb-3">
      <label for="" class="form-label">dish category code</label>
      <input type="text" class="form-control" id="">
    </div>
    <div class="mb-3">
        <label for="" class="form-label">describe</label>
        <input type="text" class="form-control" id="">
      </div>
      <div class="mb-3">
        <label for="" class="form-label">avatar</label>
        <input type="text" class="form-control" id="">
      </div>
      <div class="mb-3">
        <label for="" class="form-label">price</label>
        <input type="text" class="form-control" id="">
      </div>
    <button type="submit" class="btn btn-primary">Submit</button>
</form>